* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM Sans, Poppins;
}
body {
  font-family: DM Sans, Poppins;
  color: red;
}
#input::placeholder {
  color: white;
  opacity: 1;
  font-size: 15px;
  font-family: DM Sans;
}
#input {
  padding: 5px 10px !important;
  color: white !important;
}
#input:focus,
#input:active {
  outline: none !important;
  border: none !important;
  background: transparent !important;
}
.load {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    font-family: 70% !important;
  }
}
